header{
    padding: 1em;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    height: 10%;
    background-color: $color-primario;
 
    .btn1, .btn2, .btn3{
    
        border-radius: 8px;
    }
}